<div class="topic-index-wrapper">
 <div class="container">
   <% @carts.each do |cart| %>
      <div class="row">
        <div class="col-md-6">
          <div class="topic-index-single">
            <h4 class="topic-author">
              <%= cart.product.title %>
             <p> ¥<%= cart.product.price %></p>
            <%= image_tag cart.product.image.url,size: '200x200'%>
            <p><%= cart.product.description %></p>
            <%= cart.quanity %>個入っています
            
             
          </div>
        </div>
      </div>
    <% end %>
    
<h2><%= "合計金額は、#{@total_price}円" %></h2>
<%= button_to '購入する',"#", method: :get %>
 <p><%= link_to "戻る", products_path %></p>

  </div>
</div>