<div class="topic-index-wrapper">
  <div class="container">
    <% @products.each do |product| %>

        <div class="col-md-3">
          <div class="topic-index-single">
            <h4 class="topic-author">
              <%= product.title %>
             <p> ¥<%= product.price %></p>
             
            </h2>
            <%= image_tag product.image.url,size: '200x200'%>
            <%= link_to "詳細", product_path(product) %>
         
             <% if logged_in? %>
            <p><%= link_to '商品（詳細）の編集', edit_product_path(product) %></p>
            <%= link_to  product_path(product),method: :delete do %>
            <p>削除</p>
            <% end %>
           <% end %>
            
           
         <% if !product.cart_users.include?(current_user) %>
          <%= form_for @cart do |f| %>
          <% if logged_in? %>
          
               <%= f.hidden_field :product_id, :value => product.id %>
               <%= f.select :quantity,[*1..10] %>
                 <%= f.submit "カートに入れる" %>
              <% end %>
             <% end %>
              <% end %>

            
          </div>
        </div>

    <% end %>


  </div>
         <h2 class="cart_text"><%= link_to "カートへ",carts_index_path %></h2>
</div>