<div class="topic-index-wrapper">
  <div class="container">
    <% @products.each do |product| %>
      <div class="row">
        <div class="col-md-3">
          <div class="topic-index-single">
            <h4 class="topic-author">
              <%= product.title %>
             <p> ¥<%= product.price %></p>
            </h2>
            <%= image_tag product.image.url,size: '200x200'%>
            <%= link_to "詳細", product_path(product) %>
            
            <% if !product.cart_users.include?(current_user) %>
          <%= link_to carts_path(product_id: product.id), method: :post do %>
                <%=icon('fas', 'shopping-cart',class:"icon-cart")%>
                 カートに入れる
              <% end %>
              <% end %>
             
            
            
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>